@page
@model LendingRazorWeb.Pages.Payments.DeleteModel
@{
    ViewData["Title"] = "Delete Payment";
}

<h2>Delete Payment</h2>

<h4>Are you sure you want to delete this payment?</h4>
<div>
    <h5>Payment</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Loan</dt>
        <dd class="col-sm-9">Loan #@Model.Payment?.LoanId</dd>

        <dt class="col-sm-3">Customer</dt>
        <dd class="col-sm-9">Loan #@Model.Payment?.Loan?.Customer?.FullName</dd>

        <dt class="col-sm-3">Amount</dt>
        <dd class="col-sm-9">@Model.Payment?.Amount.ToString("C")</dd>

        <dt class="col-sm-3">Payment Date</dt>
        <dd class="col-sm-9">@Model.Payment?.PaymentDate.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-3">User</dt>
        <dd class="col-sm-9">@Model.Payment?.User?.Username</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Payment.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
